AI_PROJECT_CONNECTION_IDS_JSON="[]"
AI_PROJECT_DEPLOYMENTS="[{\\\"name\\\":\\\"gpt-5.2\\\",\\\"model\\\":{\\\"name\\\":\\\"gpt-5.2\\\",\\\"format\\\":\\\"OpenAI\\\",\\\"version\\\":\\\"2025-12-11\\\"},\\\"sku\\\":{\\\"name\\\":\\\"GlobalStandard\\\",\\\"capacity\\\":150}}]"
AZURE_AI_PROJECT_MODEL="gpt-5.2"
APPLICATIONINSIGHTS_CONNECTION_STRING=""
APPLICATIONINSIGHTS_RESOURCE_ID=""
AZURE_AI_ACCOUNT_ID=""
AZURE_AI_ACCOUNT_NAME=""
AZURE_AI_FOUNDRY_PROJECT_ID=""
AZURE_AI_PROJECT_ACR_CONNECTION_NAME=""
AZURE_AI_PROJECT_ENDPOINT=""
AZURE_AI_PROJECT_ID=""
AZURE_AI_PROJECT_NAME=""
AZURE_AI_SEARCH_CONNECTION_NAME=""
AZURE_AI_SEARCH_SERVICE_NAME=""
AZURE_CONTAINER_REGISTRY_ENDPOINT=""
AZURE_ENV_NAME=""
AZURE_LOCATION=""
AZURE_OPENAI_ENDPOINT=""
AZURE_RESOURCE_GROUP=""
AZURE_STORAGE_ACCOUNT_NAME=""
AZURE_STORAGE_CONNECTION_NAME=""
AZURE_SUBSCRIPTION_ID=""
BING_CUSTOM_GROUNDING_CONNECTION_ID=""
BING_CUSTOM_GROUNDING_CONNECTION_NAME=""
BING_CUSTOM_GROUNDING_NAME=""
BING_GROUNDING_CONNECTION_ID=""
BING_GROUNDING_CONNECTION_NAME=""
BING_GROUNDING_RESOURCE_NAME=""
